* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    width:100%;
}

/*http://materializecss.com/color.html*/

#topLeft {
    position:absolute; 
    left:0; 
    top:0; 
    width:50%;
    height:50%; 
    background-color: #80d8ff
}

#topRight {
    position:absolute; 
    left:50%; 
    top:0; 
    width:50%; 
    height:50%; 
    background-color: #84ffff
}

#bottomLeft {
    position:absolute; 
    left:0; 
    top:50%; 
    width:50%; 
    height:50%; 
    background-color:#00b0ff
}

#bottomRight {
    position:absolute; 
    left:50%; 
    top:50%; 
    width:50%;
    height:50%;
    background-color:#00bcd4
}
